// @use '../util/' as *;
.card {
	border-radius: 5px;
	background-color: var(--prime-des-dark-cyan);
	width: 100%;
	border-left: 5px solid transparent;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 20px 25px -5px,
		rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.card__inner {
	padding: rem(20);
	background-color: #fff;

	@include breakpoint(medium) {
		padding: rem(20) rem(25);
		display: grid;
		grid-template-columns: auto 1fr 1fr;
		gap: rem(30);
	}
}

.card__header {
	position: relative;
	padding: rem(5) 0;

	@include breakpoint(medium) {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

.card__header img {
	position: absolute;
	top: -50%;
	left: 0;
	transform: translateY(-70%);
	width: rem(50);
	height: rem(50);

	@include breakpoint(medium) {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
		width: rem(100);
		height: rem(100);
	}
}

.card__info {
	margin: rem(10) 0 rem(18);
	padding-bottom: rem(18);
	border-bottom: solid 1px var(--dark-grayish-cyan);

	@include breakpoint(medium) {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		margin: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
}

.info__joblisting {
	color: var(--prime-des-dark-cyan);
	font-weight: 700;
	font-size: rem(14);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: rem(8);

	@include breakpoint(medium) {
		margin-bottom: 0;
	}

	.info__company {
		margin-right: rem(12);
	}

	.info__badge {
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: center;

		.badge {
			color: var(--light-grayish-cyan-bg);
			padding: rem(7) rem(7);
			border-radius: rem(10);
			font-size: rem(10);
			font-weight: 700;
			text-transform: uppercase;
			line-height: rem(7);
			margin-right: rem(8);
		}

		.badge--new {
			background-color: var(--prime-des-dark-cyan);
		}

		.badge--featured {
			background-color: var(--very-dark-grayish-cyan);
		}
	}
}

.job__position {
	font-size: rem(16);
	text-transform: capitalize;
	margin-bottom: rem(10);
}

.job__description-list {
	color: var(--dark-grayish-cyan);
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: rem(12);

	.job__item {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.job__item:not(:last-child)::after {
		content: '';
		background-color: var(--dark-grayish-cyan);
		display: block;
		width: rem(4);
		height: rem(4);
		border-radius: 50%;
		margin: 0 rem(14);
	}
}

.card__tags {
	@include breakpoint(medium) {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

.tags__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	color: var(--prime-des-dark-cyan);
	font-size: rem(14);

	.tag__item {
		font-weight: 700;
		background-color: var(--light-grayish-cyan-bg);
		padding: rem(8) rem(9);
		border-radius: rem(5);
		margin: rem(5) rem(15);
		margin-left: 0;
	}
}
