.container,
.filter__container {
	width: 100%;
	margin: 0 auto;
	padding: rem(36) rem(24);

	@include breakpoint(large) {
		max-width: rem(1110);
		padding-left: 0;
		padding-right: 0;
	}
}

.card__container {
	display: grid;
	grid-template-columns: 1fr;
	gap: rem(50);
}
