:root {
  --prime-des-dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan-bg: hsl(180, 52%, 96%);
  --light-grayish-cyan-tablets: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%); }

:root {
  --font-spartan: 'Spartan', sans-serif; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  background-color: var(--light-grayish-cyan-bg);
  color: var(--very-dark-grayish-cyan);
  font-family: var(--font-spartan);
  font-size: 0.9375rem; }

ul {
  list-style-type: none; }

h1 {
  font-size: 1.5rem;
  font-weight: 700; }
  @media (min-width: 71.875em) {
    h1 {
      font-size: 1.75rem; } }

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none; }

.container,
.filter__container {
  width: 100%;
  margin: 0 auto;
  padding: 2.25rem 1.5rem; }
  @media (min-width: 71.875em) {
    .container,
    .filter__container {
      max-width: 69.375rem;
      padding-left: 0;
      padding-right: 0; } }

.card__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.125rem; }

.card {
  border-radius: 5px;
  background-color: var(--prime-des-dark-cyan);
  width: 100%;
  border-left: 5px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; }

.card__inner {
  padding: 1.25rem;
  background-color: #fff; }
  @media (min-width: 40em) {
    .card__inner {
      padding: 1.25rem 1.5625rem;
      display: grid;
      grid-template-columns: auto 1fr 1fr;
      gap: 1.875rem; } }

.card__header {
  position: relative;
  padding: 0.3125rem 0; }
  @media (min-width: 40em) {
    .card__header {
      display: flex;
      flex-direction: row;
      align-items: center; } }

.card__header img {
  position: absolute;
  top: -50%;
  left: 0;
  transform: translateY(-70%);
  width: 3.125rem;
  height: 3.125rem; }
  @media (min-width: 40em) {
    .card__header img {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      width: 6.25rem;
      height: 6.25rem; } }

.card__info {
  margin: 0.625rem 0 1.125rem;
  padding-bottom: 1.125rem;
  border-bottom: solid 1px var(--dark-grayish-cyan); }
  @media (min-width: 40em) {
    .card__info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0;
      padding-bottom: 0;
      border-bottom: none; } }

.info__joblisting {
  color: var(--prime-des-dark-cyan);
  font-weight: 700;
  font-size: 0.875rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem; }
  @media (min-width: 40em) {
    .info__joblisting {
      margin-bottom: 0; } }
  .info__joblisting .info__company {
    margin-right: 0.75rem; }
  .info__joblisting .info__badge {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center; }
    .info__joblisting .info__badge .badge {
      color: var(--light-grayish-cyan-bg);
      padding: 0.4375rem 0.4375rem;
      border-radius: 0.625rem;
      font-size: 0.625rem;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 0.4375rem;
      margin-right: 0.5rem; }
    .info__joblisting .info__badge .badge--new {
      background-color: var(--prime-des-dark-cyan); }
    .info__joblisting .info__badge .badge--featured {
      background-color: var(--very-dark-grayish-cyan); }

.job__position {
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 0.625rem; }

.job__description-list {
  color: var(--dark-grayish-cyan);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.75rem; }
  .job__description-list .job__item {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .job__description-list .job__item:not(:last-child)::after {
    content: '';
    background-color: var(--dark-grayish-cyan);
    display: block;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    margin: 0 0.875rem; }

@media (min-width: 40em) {
  .card__tags {
    display: flex;
    flex-direction: row;
    align-items: center; } }

.tags__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--prime-des-dark-cyan);
  font-size: 0.875rem; }
  .tags__list .tag__item {
    font-weight: 700;
    background-color: var(--light-grayish-cyan-bg);
    padding: 0.5rem 0.5625rem;
    border-radius: 0.3125rem;
    margin: 0.3125rem 0.9375rem;
    margin-left: 0;
    cursor: pointer; }

header {
  background-color: var(--prime-des-dark-cyan);
  background-image: url("/static-job-listings/images/bg-header-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  height: 9.375rem;
  width: 100%; }
  @media (min-width: 40em) {
    header {
      background-image: url("/static-job-listings/images/bg-header-desktop.svg");
      transition: "background-image" 500ms cubic-bezier(0.95, 0.05, 0.8, 0.04); } }

footer {
  font-size: 0.75rem;
  text-align: center;
  margin: 1.25rem 0; }
  footer a {
    text-decoration: underline; }

.filter__container {
  padding-top: 0; }
  .filter__container .filter {
    position: relative;
    margin-top: -25px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.25rem 0.9375rem; }

/*# sourceMappingURL=style.css.map */
